* {
  margin: 0;
    padding: 0;
}


header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #F2F4F1;
  box-shadow: 0px 5px 20px black;
  position: sticky;
  top: 0;
  z-index: 10;

}

header a {
  text-decoration: none;
  color: #171a0f;
  display: flex;
  align-items: center;
  font-family: "Carter One", cursive;
}

.home {

  color: black;
  padding: 16px;
  font-size: 16px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}
.nav {
  display: flex;
  align-items: center;
}

.nav a:nth-child(4) img {
  margin-right: 13px;
}

#log {
  width: 25px;
  height: 25px;
}

.logo img {
  width: 110px;
  height: 65px;
  margin-left: 25px;
}

.nav a {
  margin: 10px;
  text-decoration: none;
  margin-right: 50px;
  font-size: 18px;
  color: #30650f;
}

#cart {
  width: 80px;
  height: 60px;
}

/* header ends */

.center{
  background-image: url(../images/background.jpg);
  height: 530px;
  background-repeat: no-repeat;
  width: 800px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
  padding: 30px;
  box-sizing: border-box;
}
.center p{
  margin-top: 140px;
  font-size: 20px;
  font-family: "Carter One", cursive;
  color: #496235;
  
}
.center p span{
  font-size: 40px;
  font-family: "Carter One", cursive;
  color: #425a27;
}
.careimg img{
  width: 300px;
  height: 300px;
 margin:0px 0px 100px 70px;
}
#add_blog{

    /* margin:30px 20px; */
    height: 42px;
    width: 170px;
    margin-left: 10px;
    border-radius: 40px;
    color:white;
    background-color: #3d6921;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    border: 2px solid rgb(37, 111, 72);
  }
  #add_blog:hover{
    background-color:white; 
    color: #3d6921;
    border-color: 2px solid rgb(37, 111, 72);
    cursor: pointer;
  }
#blog_img{
  width:760px;
  height:300px;
}
.blog_content{
  border:2px solid black;
  width: 350px;
  height: 400px;
  margin:50px auto;
  padding: 60px;
}

.inputfields{

  display: flex;
 flex-wrap: wrap;
 justify-content:center; 
 
 margin-top: 10px;

 
}
label input{
 border: solid black;
 border-width:0px 0px .5px 0px;
 padding: 13px 15px;
 font-size: 16px;
 display: flex;
 flex-wrap: wrap;
 border: 1px solid grey;
 border-radius: 5px;
 width: 200px;
 margin: 18px 19px 15px 0px;


}
label input:hover{
border:1.5px solid black;
}
label input:focus,.side_one textarea:focus {
 outline: none;
}
.blog_content{
display: none;
}
.content{
 display: flex;
  width: 1070px;
  height: 430px;
  box-shadow: 5px 5px 5px grey;
  margin:150px auto;
  border-radius: 20px;
  background-color: white;
  color: #203f0c;

}
#profile_logo{
  width:40px;
  height:40px;

}
.blog_cart{
  display:flex;
}
.require li{
  margin:20px 100px 0px 100px;
  font-family: "Carter One", cursive;
  font-size: 18px;
}
h2{
  color:#0e0e0e;
  font-family: "Carter One", cursive;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 1px;
  font-size: 29px;
}
h3{
  color:#0e0e0e;
  font-family: "Carter One", cursive;
  margin-top: 100px;
  font-size: 29px;
  margin-left: 30px;
}
.bottomimages{
  display: flex;
   margin:30px auto;
   width: 400px;
}
.bottomimages img{
  width: 400px;
  height: 240px;
 
  box-shadow: 5px 5px 5px grey;

}
.bottom li{
  list-style-type: circle solid rgb(242, 9, 9);  
  margin-left: 100px;
  color:rgb(44, 70, 104);
}
.fa-solid{
  position: absolute;
  font-size: 100px;
  top:80px;
  left:175px;
  color:white;
  cursor: pointer;

}
.bottomimages a {
  position: relative;
}

.firstimage img{
 width:200px;
}
.secimage img{
  width:160px;

 }
 .thirdimage img{
  width:200px;
  margin-right: 120px;
 }

 .firstimage img,.secimage img,.thirdimage img{
  margin:20px;
 }



 .first,.second,.third{
  display: flex;
  align-items: center;
  width:1000px;
  margin: 10px auto;
  padding:20px;
  box-sizing: border-box;
 }
 .firstpoint,.secpoint,.thirdpoint{


  font-family:sans-serif;
  color: rgb(132, 90, 6);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
 }

 h4{
  color:#425a27;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
 }

 @media only screen  and ( max-width:500px){
  body{
    width: 1000px;
  }
  .nav{
    /* width: 500px; */
    }
  }
 