* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  font-family: poppins;
 
}
body {
  /* width: 1520px; */
  background-color: #f1f1f1;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #f2f4f1;
  box-shadow: 0px 5px 20px black;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 30px;
  width: 100%;
}

header a {
  text-decoration: none;
  color: #171a0f;
  display: flex;
  align-items: center;
  font-family: "Carter One", cursive;
  font-size: 80px;
}
/* 
  #shopping {
    color: blue;
    margin-top: 100px;
  } */

.home {
  color: black;
  padding: 16px;
  font-size: 16px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a:nth-child(5) img {
  margin-left: 12px;
}

#user_name {
  font-weight: 600;
  margin: 0px 10px;
}
#login_title {
  margin-left: 14px;
  font-family: "Carter One", cursive;
}
#log {
  width: 25px;
  height: 25px;
  /* margin-left: 23px; */
}

.logo img {
  width: 110px;
  height: 65px;
  margin-left: 25px;
}

#profile_logo {
  width: 40px;
  height: 40px;
}

.nav a {
  margin: 10px;
  text-decoration: none;
  margin-right: 50px;
  font-size: 18px;
  color: #30650f;
}

#cart {
  width: 80px;
  height: 60px;
}
/* header ends */
.heading {
  margin: 70px 50px;
}
.all_orders {
  margin: 70px 120px;
  border: #30650f solid;
  border-width: 0px 0px 2px 0px;
  display: inline;
  padding: 10px;
}

.titles {
  display: flex;
  justify-content: space-around;

  width: 1450px;
  margin: 30px auto;
  /* border: 2px solid black; */
  text-align: center;
}

.details {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
  width: 1450px;
  margin: 20px auto;
  border: solid grey;
  border-width: 0px 0px 1px 0px;
  text-align: center;
  font-size:13px;
}
.titles p,
.details p {
  width: 120px;

  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titles p {
  background-color: rgb(207, 207, 207);
  font-weight: 500;
  color: rgb(70, 70, 70);
  font-size:15px;
}
.titles p:nth-of-type(1),.details p:nth-of-type(1) {
  width: 30px;
}
.titles p:nth-of-type(3),.details p:nth-of-type(3) {
  width: 140px;
}
.titles p:nth-of-type(4),.details p:nth-of-type(4) {
  width: 70px;
}
.titles p:nth-of-type(5),.details p:nth-of-type(5) {
width: 280px;
}
.titles p{
  border: 0.5px solid white;
  height:28px;
}
.details p:nth-of-type(9) {
 color:#ce0a2e;
 letter-spacing: 0.75px;
}

