@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500;
    background-position: center;
    width:100%;
    height:100%
}

.leftbox{
    width:310px;
    height:300px;
    background-image: linear-gradient(to bottom right, #90c2a3, #187248);
}
.left{
    margin-left: 40px;
}
.profile{
    border-radius:50%;
    width:100px;
    height:100px;
    margin:70px 70px 5px 110px;
    position: absolute;
}
#editcam{
    width: 39px;
    height: 40px;
    position: relative;
    top:130px;
    left:187px;
}
#file{
    display: none;
}
.username{
    text-align: center;
    color: white;
    font-family: carter one;
    margin-top: 125px;
}

.bottomleft{
    display: flex;
    flex-direction: column;
    background-color: #f2f4f1;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
a{
    text-decoration: none;
    color:black;
}

.fstname{
        height:52px;
}
.secname{
    height:52px;
    
}
.thirdname{
    height:57px;
}
.content{
    display: flex;
    align-items: center;
    height: 90vh;
}
.righttop {
 
    width:850px;
    height:200px;
    margin-left: 100px;
    background-color: #f2f4f1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


i{
    padding: 30px;
}

.right{
    display: flex;
    flex-direction: column;

}
.bottomcontent{
    width:850px;
    height:350px;
    margin-left: 100px;
    margin-top: 20px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
#para{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 440;
    font-family:Carter one;
    letter-spacing: .5px;
    color:white;
    padding-top: 30px;
}
.bottomquote{
    width:850px;
    height:100px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    
    background-image: linear-gradient(to bottom right, #90c2a3, #187248);
    margin-bottom: 0px;
}

.inputfields{

     display: flex;
    flex-wrap: wrap;
    justify-content:center; 
    
    margin-top: 10px;
   
    
}
label input{
    border: solid black;
    border-width:0px 0px .5px 0px;
    padding: 13px 15px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    margin: 18px 19px 15px 0px;
   

}
label input:hover{
  border:1.5px solid black;
}
label input:focus,.side_one textarea:focus {
    outline: none;
}

.lastcontent{
    width:850px;
    height:300px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #eef1f2;
    padding: 20px;
    box-sizing: border-box;
    
}
.side_one{
    width:410px;
    height:300px ;
}
.side_one h2{
    margin-top: 0px;
}
.side_one textarea{
    width:404px;
    height:176px;
    border:none;
    border-width: 0px 0px 1.5px 0px;
    padding:20px;
    box-sizing:border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.lastcontent img{
    width: 350px;
} 
select{
    height: 20px;
}
#edit,#save,#delete{
    margin: 30px 20px; 
    height: 25px;
    width: 100px;
    margin-left: 8px;
    border-radius: 0px;
    color: white;
    background-color: #5da478;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    border: 2px solid  #5da478;
    font-weight: 500;
    
}
#edit:hover,#save:hover,#delete:hover{
    background-color:white; 
    color: #3d6921;
    /* border-color: 2px solid rgb(37, 111, 72); */
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}